body{
    margin: 0;
    background-color: #c7b6ae;
 

}

nav{
    display: flex;
    justify-content: center;
     background-color: #1A1E3D;
     position: fixed;
     top: 0;
     font-family: 'Sofia Sans Semi Condensed', sans-serif;
       }


.sectionOne{
  background-color: #53687c;
   display: flex;
  justify-content: center;
flex-wrap: wrap;
    }

.header{
    font-family:  'Rubik Dirt', cursive;
margin: auto;
color:beige;

}
h1{
  font-size: 80px;
 }
h2{
  font-family: 'Rubik Dirt', cursive;
}
.sectionTwo{
    margin-top: 100px;
  padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.resume{
  margin-right: 10%;
font-family: 'Sofia Sans Semi Condensed',sans-serif;
color: #141d56;
}
.contact {
    text-decoration: none;
color:#141d56;
}

ul{
   list-style-type:disc;
}
.headerTwo{
margin-left: 27%;
margin-top: 12%;
font-size: 40px;
}
.list{
margin-right: 10%;
}
.skill{
  font-size: 15px;
}
.sectionThree{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2%;
    font-family:'Sofia Sans Semi Condensed', sans-serif;
    color: #141d56;
}

.headerThree{
    margin-left: 25px;
    margin-top: 25%;
    font-size: 40px;
}

.sectionFour{
      display: flex;
       flex-wrap: wrap;
       justify-content: center;
    margin-top: 100px;
padding-top: 50px;
      
}
.slider{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }

  .slider:hover{
    transform: scale(2);
  }

  .vlink{
    margin-top:100px;
    display: flex;
    justify-content: center;
     }

  .sectionSix{
    margin-top: 200px;
  }
  .sectionSix{
 display: flex;
 flex-direction: column;
 align-items: center;
padding: 10px;
font-family: 'Sofia Sans Semi Condensed',sans-serif;
color: #141d56;
  }

  .vk{
    margin-top: 10px;
  }
.textSection{
  margin: 0;
}
    .about,  .aboutTwo{
      box-shadow:  1px 6px 25px 12px rgba(110, 55, 48, 0.37);
    }

    .aboutTwo{
      margin-top: 40px;
    }

   
    footer{
      background-color:#1A1E3D ;
      padding: 10px;
      margin-top: 50px;
    }

  #video{
      display: flex;
    justify-content: center;
  }
    


    @media screen and (max-width: 800px){
    nav{
      font-size: 5px;
        }
    h1{
      font-size: 20px;
    }
    }



    @media screen and (max-width: 500px){
      nav{
        font-size: 8px;
          }
      h1{
        font-size: 30px;
      }
      .headerThree{
        font-size: 30px;
        margin-top: 60px;
      }
           .sectionTwo{
        font-size: 14px;
       
      }
      .sectionThree{
        font-size: 13px;
     
      }
.list{
margin: auto;
margin-top: 30px;
}
.skill{
  font-size: 14px;
}


         }
